#
#  ____            _           _     _____              _  __ _                                       
# |  _ \ _ __ ___ (_) ___  ___| |_  |_   _|__ _ __ _ __(_)/ _(_) ___   _                              
# | |_) | '__/ _ \| |/ _ \/ __| __|   | |/ _ \ '__| '__| | |_| |/ __| (_)                             
# |  __/| | | (_) | |  __/ (__| |_    | |  __/ |  | |  | |  _| | (__   _                              
# |_|  _|_|  \___// |\___|\___|\__|   |_|\___|_|  |_|__|_|_| |_|\___| (_)_   _  __ _  _____           
#   __| (_)___  |__/___  _ __ __| |  __ _  __ _   / / _| | __ ______   _| \ | |/ _| ||___  |_ _ _ __  
#  / _` | / __|/ __/ _ \| '__/ _` | / _` |/ _` | / / |_| |/ /|_  /\ \ / /  \| | |_| __| / / _` | '_ \ 
# | (_| | \__ \ (_| (_) | | | (_| || (_| | (_| |/ /|  _|   <  / /  \ V /| |\  |  _| |_ / / (_| | |_) |
#  \__,_|_|___/\___\___/|_|  \__,_(_)__, |\__, /_/ |_| |_|\_\/___|  \_/ |_| \_|_|  \__/_/ \__, | .__/ 
#                                   |___/ |___/                                           |___/|_|    
#
#----------Project Terrific----------# 
ensure oxmysql
ensure qb-core
ensure ox_lib
ensure illenium-appearance
ensure qb-target
ensure qb-inventory
ensure qb-phone
ensure [core-important]



#---------hud and more----------#

ensure [hud]
ensure ox_doorlock


#---------Multi Charc- Spawn----------#
ensure qb-multicharacter
ensure qb-spawn
ensure qb-apartments

#-----------QB------------#
ensure [qb]
ensure [adminmenu]

#-----------Voice------------#
ensure [voice]


#-----------JOBS------------#
ensure [jobs]

#-----------MAPS -------------#
ensure [Maps]

#-----------Customscripts-------------#
ensure [Terrific-customscripts]

#-----------Standalone------------#
ensure [standalone]

#-----------Robbery------------#
ensure [robbery]

# id 
ensure [id-card]
